- content_for :javascript_pack
  = javascript_pack_tag 'calendar', 'data-turbolinks-track': 'reload'
  = stylesheet_pack_tag 'calendar', 'data-turbolinks-track': 'reload'

#calendar-wrapper data=calendarData.to_json
